name: Test code functionality

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    services:
      postgres:
        image: postgres
      env:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: topobank-test
      ports:
        - 5432:5432

    env:
      USE_DOCKER: no
      DJANGO_SETTINGS_MODULE: config.settings.test
      DATABASE_URL: postgres://localhost

    strategy:
      matrix:
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Set up python3 ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install
      run: |
        pip install --upgrade pip
        pushd /tmp
        git clone --branch 23_tweaks2 https://github.com/ContactEngineering/topobank.git
        cd topobank
        pip install -q -r requirements/local.txt
        pip install -e .[dev]
        USE_DOCKER=no python manage.py collectstatic
        popd
        pip install -e .[dev]

    - name: Test
      run: pytest -v